body { 
  margin:0;
  padding:0;
  background-color:black;
  color:white;
  font-family: 'Titillium Web', sans-serif; font-size:1em;
}
span { float:right; margin:1px; }
.section { margin:10px auto; width:550px;}