body {
    background-color:black;
    padding:0; margin:0;
}
#canvas_container {
    height:100%;
}
#canvas_container svg {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) ;
}
