<div class="container">
	<div class="jumbotron">
		<h1>Email</h1>
	</div>
</div>
<div class="container-fluid form-group">
	<div class="row">
		<div class="col-sm-12">
			<button class="btn btn-default btn-xs" ng-click="back()">Back</button>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2">
			<label for="member-email">Email</label>
		</div>
		<div class="col-sm-10">
			<input id="member-email" class="form-control" type="text" placeholder="Email" ng-model="member.email"/>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<button class="btn btn-primary btn-block btn-lg" ng-click="submit()">Submit</button>
		</div>
	</div>
</div>
