<div class="container">
	<div class="jumbotron">
		<h1>Review</h1>
	</div>
</div>
<div class="container-fluid form-group">
	<div class="row">
		<div class="col-md-12">
			<button class="btn btn-default btn-xs" ng-click="back()">Back</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			&nbsp;
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			&nbsp;
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<button class="btn btn-primary btn-block btn-lg" ng-click="submit()">Submit</button>
		</div>
	</div>
</div>
