body {
    color: #333333;
    font-family: "Oswald",Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
}

#menu {
    float: left;
}

#content {
    margin: 0 auto;
    width: 640px;
}

a {
    text-decoration: none;
}

.entry .entry-title {
    font: bold 20px 'Open Sans', Helvetica, sans-serif;
}

.bx-controls {
    display: none;
}
